<!DOCTYPE html>

<html>
    <head>
        <title> Help</title>
        {{! little icon on the tab bar}}
        <link rel="icon" href="/img/weather.png"> 
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
             {{>header}}
            <p>{{contact}} and there is {{email}}</p>
        </div>
       
        {{>footer}}
    </body>
</html>