body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    /*0 is the top and bot margin, auto evenly distributes
    the space left and right side */
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    /*100% of viewport height */
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    /*Add space between the words and the outline of background*/
    padding: 16px 0;
    /*Other objects and the outline */
    margin-top: 16px;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}
/* Targeting only the links inside header */
header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}